tivoli/cit/config/xss/coreplugin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed Materials - Property of IBM
    TIVOCIT00
    Copyright IBM Corp. 2005. All Rights Reserved.
    US Government Users Restricted Rights - Use, duplication or
    disclosure restricted by GSA ADP Schedule contract with
    IBM Corp. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ibm.com/Tivoli/Signatures" targetNamespace="http://www.ibm.com/Tivoli/Signatures" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="expressions.xsd"/>
	<xs:element name="And" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Or" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Not" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValueOf" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="value" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileExists" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PathExists" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Switch" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence maxOccurs="unbounded">
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
					<xs:attribute name="default" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Vector" substitutionGroup="VectorOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="MixedContentType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="AnyExpression"/>
					</xs:sequence>
					<xs:attribute name="filter" type="xs:string" use="optional"/>
					<xs:attribute name="ignoreCase" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileInfo" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
					<xs:attribute name="field" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="size"/>
								<xs:enumeration value="inode"/>
								<xs:enumeration value="atime"/>
								<xs:enumeration value="mtime"/>
								<xs:enumeration value="ctime"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileInfoCompare" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
					<xs:attribute name="field" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="size"/>
								<xs:enumeration value="inode"/>
								<xs:enumeration value="atime"/>
								<xs:enumeration value="mtime"/>
								<xs:enumeration value="ctime"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="relation" type="RelationType" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
					<xs:attribute name="mustExist" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Compare" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence>
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
					<xs:attribute name="relation" type="RelationType" use="required"/>
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="integer"/>
								<xs:enumeration value="string"/>
								<xs:enumeration value="cistring"/>
								<xs:enumeration value="hex"/>
								<xs:enumeration value="version"/>
								<xs:enumeration value="boolean"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Concat" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence maxOccurs="unbounded">
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
					<xs:attribute name="separator" type="xs:string" use="optional"/>
					<xs:attribute name="ifEmpty" use="optional" default="skip">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="skip"/>
								<xs:enumeration value="add"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BitwiseAnd" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence>
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BitwiseInclusiveOr" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence>
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BitwiseExclusiveOr" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence>
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WinFileVersionCompare" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
					<xs:attribute name="relation" type="RelationType" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
					<xs:attribute name="mustExists" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WinFileLanguageContains" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
					<xs:attribute name="mustExists" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyVersionCompare" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="entry" type="xs:string" use="required"/>
					<xs:attribute name="relation" type="RelationType" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="mustExists" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyValueEqual" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="entry" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="mustExists" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyValueContains" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="entry" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="mustExists" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyValue" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="entry" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="mustExists" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyExists" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyValueFindFirst" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="root" type="xs:string" use="required"/>
					<xs:attribute name="keyglob" type="xs:string" use="required"/>
					<xs:attribute name="entryglob" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="mustExist" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WinFileInfo" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
					<xs:attribute name="field" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Md5" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ScalarContentType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="ScalarExpression"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VectorAt" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="VectorContentType">
					<xs:attribute name="index" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VectorIterator" substitutionGroup="VectorOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="MixedContentType">
					<xs:sequence>
						<xs:group ref="AnyExpression" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VectorToScalar" substitutionGroup="ScalarOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="MixedContentType">
					<xs:sequence>
						<xs:group ref="AnyExpression" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyList" substitutionGroup="VectorOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="root" type="xs:string" use="required"/>
					<xs:attribute name="subkeys" type="xs:boolean" use="optional" default="false"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyInfo" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="entry" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contains" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="inputString" type="xs:string" use="required"/>
					<xs:attribute name="searchedString" type="xs:string" use="required"/>
					<xs:attribute name="position" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="start"/>
								<xs:enumeration value="end"/>
								<xs:enumeration value="contains"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Clip" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="inputString" type="xs:string" use="required"/>
					<xs:attribute name="startIndex" type="xs:integer" use="required"/>
					<xs:attribute name="endIndex" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Substring" substitutionGroup="VectorOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="inputString" type="xs:string" use="required"/>
					<xs:attribute name="searchedString" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScalarToVector" substitutionGroup="VectorOperator">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:group ref="ScalarExpression"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileDirectory" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="file" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IniFileKeyExists" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="file" type="xs:string" use="required"/>
					<xs:attribute name="section" type="xs:string" use="required"/>
					<xs:attribute name="key" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IniFileKeyValue" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="file" type="xs:string" use="required"/>
					<xs:attribute name="section" type="xs:string" use="required"/>
					<xs:attribute name="key" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="StringCrop" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="inputString" type="xs:string" use="required"/>
					<xs:attribute name="startString" type="xs:string" use="required"/>
					<xs:attribute name="endString" type="xs:string" use="required"/>
					<xs:attribute name="seekFrom" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="right"/>
								<xs:enumeration value="left"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="StringSlice" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="inputString" type="xs:string" use="required"/>
					<xs:attribute name="startIndex" type="xs:string" use="required"/>
					<xs:attribute name="endIndex" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileResourceStrings" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
					<xs:attribute name="resourceNumber" type="xs:unsignedLong" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyValueExists" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="entry" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegKeyValueMultiString" substitutionGroup="VectorOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="entry" type="xs:string" use="required"/>
					<xs:attribute name="section" use="optional" default="32">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="32"/>
								<xs:enumeration value="64"/>
								<xs:enumeration value="32or64"/>
								<xs:enumeration value="64or32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WinIniFileKeyExists" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="file" type="xs:string" use="required"/>
					<xs:attribute name="section" type="xs:string" use="required"/>
					<xs:attribute name="key" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WinIniFileKeyValue" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="file" type="xs:string" use="required"/>
					<xs:attribute name="section" type="xs:string" use="required"/>
					<xs:attribute name="key" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Match" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="inputString" type="xs:string" use="required"/>
					<xs:attribute name="filter" type="xs:string" use="required"/>
					<xs:attribute name="ignoreCase" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sort" substitutionGroup="VectorOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="MixedContentType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="AnyExpression"/>
					</xs:sequence>
					<xs:attribute name="filter" type="xs:string" use="optional"/>
					<xs:attribute name="ignoreCase" type="xs:boolean" use="optional" default="false"/>
					<xs:attribute name="order" use="optional" default="asc">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="asc"/>
								<xs:enumeration value="desc"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MountServer" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MountPath" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MountRemotePath" substitutionGroup="ScalarOperand">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="OperandType">
					<xs:attribute name="absolutePath" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
